.app-layout{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .sidebar{
    background-color: $base-menu-background ;
    transition: width 0.28s;
    width: $base-sidebar-width !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);    
  }
  .main-container{
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $base-sidebar-width;
    position: relative;    
  }
}